.App {
  text-align: center;
}

.card {
  margin: 1em;
  margin-right: 20%;
}

:hover.card{
  background-color: rgb(40, 225, 164);
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.selPage {
  background-color: rgb(160, 194, 38);
}

.link{
  text-decoration: none;
  color: black;
}

/* .nav {
  
  position: fixed;

  z-index: 1;
} */

.singleCard{
  width: auto;
}

